body{
    background-color: lightgreen;
    text-align: center;
    font-family: monospace;
}
.content{
    background-color: lightgreen;
    justify-content: center;
    width: 50%;
    margin-left: 26%;
    margin-top: 5%;
    text-align: center;
    padding: 22px;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0.3);
    border-radius: 20px;
}
.header{
    background-color: blueviolet;
    color: aliceblue;
    margin: 10px 80px;
    border-radius: 5px;
    font-size: 40px;
}
.header:hover{
    transition: 100ms all ease-in;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0.3);
}
button{
    background-color: blue;
    color: aliceblue;
    border: 0;
    font-size: 27px;
    width: 20%;
    margin-left: 10px;
    border-radius: 5px;
}
button:hover{
    box-shadow: 0 0 10px 1px rgb(240, 81, 81);
    transition: 100ms all ease-in;
}
h2{
    background-color: aqua;
    border-radius: 5px;
    color: black;
    margin: 10px 100px;
    font-size: 35px;
}
.list-item{
    background-color: lightgreen;
    border-radius: 5px;
    color: black;
    /* margin-right: 30%; */
    margin: 0 28%;
    font-size: 25px;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0.3);
}
.btn{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: 0;
    font-size: 19px;
    width: 15%;
    border-radius: 5px;
    position: relative;
    left: 33%;
    top: -27px;
}
.btn:hover{
    background-color: rgb(107, 239, 211);
}
input{
    border-radius: 20px;
    border: 0;
    font-size: 180%;
    text-align: center;
}
.new-btn button{
    font-size: 25px;
    background-color: maroon;
    border: 0;
}